@charset "UTF-8";
/*background colors*/
/*text colors*/
/*border colors*/
* {
  margin: 0px;
  padding: 0px;
}

/*etiquetas*/
nav {
  grid-area: nav;
  border-style: solid;
  border-width: 3px;
  border-color: #919193;
  background-color: #D9D9D9;
  font-weight: 600;
}

ul {
  list-style: none;
}

li {
  margin-left: 5px;
}

li:hover ul {
  display: block;
}

body {
  font-family: "baloo thambi 2", sans-serif;
  background-image: url("/img/fondo.jpg");
  background-size: 30%;
  background-repeat: repeat;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: #D9D9D9;
  font-size: 16px;
}

a:link {
  color: #131313;
  text-decoration: none;
}

a:visited {
  color: #131313;
  text-decoration: none;
}

a:hover {
  color: #1c1ab9;
}

/*clases*/
/*header index*/
.header-index, .encabezado {
  grid-area: header-index;
  background-color: #D9D9D9;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-index img, .encabezado img {
  height: 80%;
  width: auto;
  animation-duration: 3s;
  animation-name: rebote;
  animation-iteration-count: 1;
}

/*header cakes, cupcakes, macarons, contacto*/
.encabezado {
  grid-area: encabezado;
}
.encabezado img {
  height: 70%;
  width: auto;
  animation: none;
}

/*barra de navegación*/
.navbar {
  padding: 0;
}

.dropdown-menu {
  padding: 0;
}

.btn-outline-success {
  color: #7b7aab;
  border-style: solid;
  border-width: 1px;
  border-color: #919193;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b7aab;
  --bs-btn-hover-border-color: $color-2-group-3;
  --bs-btn-active-border-color: $color-2-group-3;
}

/*titulo y parrafo*/
.delicias {
  grid-area: delicias;
  text-align: justify;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgba(12, 12, 12, 0.835);
}
.delicias__titulo {
  font-size: 32px;
  font-weight: 600;
}
.delicias__descripcion {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}

/*galeria index*/
.galeria-index {
  grid-area: galeria-index;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 25%), 1fr));
  gap: 2vw;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 5vw 0 5vw;
}
.galeria-index .box {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}
.galeria-index .box img {
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
}
.galeria-index .box:hover .hover {
  width: 100%;
}
.galeria-index .box .hover {
  width: 0%;
  height: 100%;
  background-color: rgba(90, 82, 157, 0.512);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s all;
}
.galeria-index .box .hover h3 {
  color: #D9D9D9;
  text-shadow: 1px 1px 1px black;
  font-size: 30px;
}

/*galeria cakes y cupcakes*/
.galeria {
  grid-area: galeria;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 20%), 1fr));
  gap: 2vw;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.galeria__texto {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5%;
  border-color: #59529d;
}
.galeria__texto h5 {
  font-size: 24px;
  font-weight: 600;
  align-items: center;
}
.galeria__texto p {
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.galeria__fotos img {
  width: 100%;
  height: auto;
  align-self: center;
}
.galeria__fotos img:hover {
  opacity: 75%;
}

/*galeria macarons*/
.galeria-macarons {
  grid-area: galeria;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 20%), 1fr));
  gap: 2vw;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.galeria-macarons__fotos p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  border: solid;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5%;
  border-color: #59529d;
}
.galeria-macarons__fotos img {
  width: 100%;
  height: auto;
  align-self: center;
}
.galeria-macarons__fotos img:hover {
  opacity: 75%;
}

/*contactanos*/
.contenido {
  grid-area: contenido;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

/*mapa*/
.mapa {
  grid-column: 1/3;
  grid-row: 1;
}
.mapa iframe {
  width: 100%;
  height: 100%;
}

/*formulario*/
.form {
  grid-column: 3;
  grid-row: 2;
}
.form .formulario {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  border-color: #919193;
  color: rgba(12, 12, 12, 0.835);
  font-size: 16px;
  text-align: left;
  box-sizing: border-box;
}
.form .formulario__input {
  height: 30px;
  width: 100%;
  padding-left: 5px;
  padding-right: 0px;
  background-color: rgba(235, 235, 238, 0.9882352941);
  border-style: solid;
  border-width: 1px;
}
.form .formulario__text {
  height: 100px;
  width: 100%;
  padding-left: 5px;
  background-color: rgba(235, 235, 238, 0.9882352941);
  border-style: solid;
  border-width: 1px;
}
.form .formulario .button {
  height: 30px;
  width: 100px;
  border: solid;
  border-width: 1px;
  border-color: #919193;
  font-size: 14px;
  color: rgba(12, 12, 12, 0.835);
  justify-content: center;
}

/*video*/
.video {
  grid-column: 1/3;
  grid-row: 2;
  align-self: center;
}
.video iframe {
  width: 100%;
}

/*grid index*/
#grid-index {
  display: grid;
  height: 100vh;
  padding: 0;
  grid-template-areas: " header-index header-index header-index " " nav nav nav " " delicias delicias delicias " " galeria-index galeria-index galeria-index " " footer footer footer ";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30% auto 1fr auto 5%;
}

/*grid paginas*/
#grid-paginas {
  display: grid;
  height: 100vh;
  padding: 0;
  grid-template-areas: " encabezado encabezado encabezado encabezado " " nav nav nav nav " " delicias delicias delicias delicias " " galeria galeria galeria galeria " " footer footer footer footer ";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25% auto 2fr auto 5%;
}

/*grid contacto*/
#grid-contacto {
  display: grid;
  height: 100vh;
  padding: 0;
  grid-template-areas: " encabezado encabezado encabezado " " nav nav nav " " delicias delicias delicias " " contenido contenido contenido " " footer footer footer ";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25% auto 2fr auto auto 5%;
  box-sizing: border-box;
}

/*animacion logo index*/
@keyframes rebote {
  0% {
    transform: translateY(-100px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/*estilo responsive max 768*/
@media screen and (max-width: 768px) {
  nav {
    border-width: 1px;
  }
  body {
    background-size: 60%;
  }
  footer {
    font-size: 14px;
  }
  .header-index img, .encabezado img {
    height: 70%;
    width: auto;
  }
  .encabezado img {
    height: 70%;
    width: auto;
  }
  .delicias {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .delicias__titulo {
    font-size: 30px;
  }
  .delicias__descripcion {
    font-size: 18px;
  }
  .galeria-index {
    grid-area: galeria-index;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 25%), 1fr));
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box {
    width: 90%;
    height: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .box img {
    width: 100%;
    height: auto;
    /*object-fit: cover;*/
  }
  .box .hover {
    width: 0%;
    height: 100%;
    background-color: rgba(90, 82, 157, 0.512);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.4s all;
  }
  .hover h3 {
    color: #D9D9D9;
    text-shadow: 1px 1px 1px black;
    font-size: 30px;
  }
  .box:hover .hover {
    width: 100%;
  }
  .galeria {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .galeria__fotos img {
    border-width: 2px;
    border-radius: 50%;
  }
  .galeria-macarons {
    grid-area: galeria;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 20%), 1fr));
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .galeria-macarons__fotos img {
    border-width: 2px;
  }
  #grid-index {
    display: grid;
    grid-template-areas: " header-index header-index header-index " " nav nav nav " " delicias delicias delicias " " galeria-index galeria-index galeria-index " " footer footer footer ";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% auto 1fr auto 5%;
  }
  #grid-paginas {
    display: grid;
    grid-template-areas: " encabezado encabezado encabezado encabezado " " nav nav nav nav " " delicias delicias delicias delicias " " galeria galeria galeria galeria " " footer footer footer footer ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% auto 2fr auto 5%;
  }
}
/*estilo responsive*/
@media screen and (max-width: 480px) {
  nav {
    border-width: 1px;
  }
  body {
    background-size: 70%;
  }
  footer {
    font-size: 12px;
  }
  .header-index img, .encabezado img {
    height: 70%;
    width: auto;
  }
  .encabezado img {
    height: 70%;
    width: auto;
  }
  .delicias {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .delicias__titulo {
    font-size: 26px;
  }
  .delicias__descripcion {
    font-size: 16px;
  }
  .galeria-index {
    grid-area: galeria-index;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 25%), 1fr));
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .galeria-index img {
    width: 85%;
    height: 85%;
    border-width: 2px;
  }
  .galeria {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .galeria__fotos img {
    border-width: 2px;
    border-radius: 50%;
  }
  .galeria-macarons {
    grid-area: galeria;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 20%), 1fr));
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .galeria-macarons__fotos img {
    border-width: 2px;
  }
  #grid-index {
    display: grid;
    grid-template-areas: " header-index header-index header-index " " nav nav nav " " delicias delicias delicias " " galeria-index galeria-index galeria-index " " footer footer footer ";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% auto 1fr auto 5%;
  }
  #grid-paginas {
    display: grid;
    grid-template-areas: " encabezado encabezado encabezado encabezado " " nav nav nav nav " " delicias delicias delicias delicias " " galeria galeria galeria galeria " " footer footer footer footer ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% auto 2fr auto 5%;
  }
}

/*# sourceMappingURL=estilos.css.map */
