.carousel{
    grid-area: carousel;
    height: 650px;
    width: 100%;
    @include xm-device{
        height: auto;
    }
    @include phone {
        height: auto;
    }
    @include desktop {
        height: 800px;
    }
    @include imac {
        height: auto;
    }
    &-item{
        height: 650px;
        @include xm-device{
            height: auto;
        }
        @include phone{
            height: auto;
        }
        @include desktop {
            height: 800px;
        }
        @include imac {
            height: auto;
        }
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}