/*background colors*/
$color-1-group-1: #D9D9D9;
$color-2-group-1: rgba(139, 134, 181, 0.512);
$color-3-group-1: rgba(235, 235, 238, 0.9882352941);
$color-4-group-1: #ebebeefc;

/*text colors*/
$color-1-group-2: #7b7aab;
$color-2-group-2: rgba(12, 12, 12, 0.835);
$color-3-group-2: #D9D9D9;
$color-4-group-2: #131313;

/*border colors*/
$color-1-group-3: #919193;
$color-2-group-3: #7b7aab;
$color-3-group-3: #59529d;
