.contenido {
    grid-area: contenido;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    @include xm-device{
        grid-template-columns: 1fr;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    @include phone{
        grid-template-columns: 1fr;
        margin-left: 70px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
    }
    .iconos{
        grid-column: 3;
        grid-row: 1;
        ul{
            height: 100%;
            background-color: $color-1-group-1;
            padding: 30px;
            border-style: solid;
            border-width: 1px;
            border-color: $color-1-group-3;
            @include xm-device{
                padding: 15px;
            }
            @include phone{
                padding: 20px;
            }
            h5{
                font-size: $contacto-titulo;
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
                @include xm-device{
                    font-size: 20px;
                    padding-bottom: 15px;
                }
                @include phone{
                    font-size: 22px;
                    padding-bottom: 20px;
                }
            }
            li{
                display: flex;
                margin-bottom: 30px;
                list-style: none;
                @include xm-device{
                    margin-bottom: 15px;
                }
                @include phone{
                    margin-bottom: 20px;
                }
                img{
                    height: 36px;
                    width: auto;
                    @include xm-device{
                        height: 24px;
                    }
                    @include phone{
                        height: 30px;
                    }
                }
                .iconos-texto{
                    font-size: $iconos-texto;
                    margin-left: 20px;
                    text-align: left;
                    text-justify: center;
                    @include xm-device{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    @include phone{
                        font-size: 16px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .mapa{
        grid-column: 1/3;
        grid-row: 1;
        iframe{
            width: 100%;
            height: 100%;
            @include xm-device{
                height: 300px;
            }
            @include phone{
                height: 300px;
            }
        }
    }
    .video{
        grid-column: 1/3;
        grid-row: 2;
        align-self: center;
        height: 100%;
        width: 100%;
        iframe{
            object-fit: scale-down;
            @include xm-device{
                height: 400px;
            }
            @include phone{
                height: 400px;
            }
        }
    }
    .form{
        grid-column: 3/4;
        grid-row: 2;
        height: 100%;
        width: 100%;
        .formulario {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color:$color-1-group-1;
            border-style: solid;
            border-width: 1px;
            border-color: $color-1-group-3;
            color: $color-2-group-2;
            font-size: $formulario;
            text-align: left;
            box-sizing: border-box;
            @include xm-device{
                font-size: 16px;
            }
            @include phone{
                font-size: 18px;
            }
            h5{
                font-size: $contacto-titulo;
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
                @include xm-device{
                    font-size: 20px;
                }
                @include phone{
                    font-size: 22px;
                }
            }
            &__input {
                height: 30px;
                width: 100%;
                padding-left: 5px;
                padding-right: 0px;
                background-color: $color-4-group-1;
                border-style: solid;
                border-width: 1px;
            }
            &__text {
                height: 200px;
                width: 100%;
                padding-left: 5px;
                background-color:$color-4-group-1;
                border-style: solid;
                border-width: 1px;
            }
            .button {
                height: 30px;
                width: 40%;
                border: solid;
                border-width: 1px;
                border-color: $color-1-group-3;
                font-size: $button-font;
                color:  $color-2-group-2;
                justify-content: center;
                @include xm-device{
                    font-size: 14px;
                }
                @include phone{
                    font-size: 14px;
                }
            }
        }
    }
}