$titulo-delicias: 3.2rem;
$descripcion-delicias: 2.3rem;
$precio: 2.5rem;
$contacto-titulo: 2.4rem;
$footer: 1.8rem;
$imagenes-index: 4rem;
$descripcion-productos: 2.1rem;
$iconos-texto: 1.8rem;
$formulario: 2rem;
$formulario-input:1.8rem;
$button-font: 1.7rem;
$nav-font:1.7rem;
