$titulo-delicias: 32px;
$descripcion-delicias: 22px;
$precio: 24px;
$contacto-titulo: 24px;
$footer: 18px;
$imagenes-index: 40px;
$descripcion-productos: 20px;
$iconos-texto: 18px;
$formulario: 20px;
$button-font: 16px;
