@import "colores";

$phone-width: 600px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1024px;
$imac-width: 1620px;

@mixin xm-device {
    @media (max-width: #{$phone-width - 1px}) {
        @content;
    }
}
@mixin phone {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: #{$laptop-width} ) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$imac-width - 1px}) {
        @content;
    }
}
@mixin imac {
    @media (min-width: #{$imac-width}) {
        @content;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

/*etiquetas*/

nav {
    grid-area: nav;
    border-style: solid;
    border-width: 3px;
    border-color: $color-1-group-3;
    background-color:$color-1-group-1;
    font-weight: 600;
    @include xm-device{
        border-width: 1px;
    }
    @include phone {
        border-width: 1px;
    }

}

li {
    margin-left: 5px;
}

li:hover ul {
    display: block;
}

body {
    font-family: 'baloo thambi 2', sans-serif;
    background-image:url("/img/fondo.jpg");
    background-size: 30%;
    background-repeat: repeat;
    @include xm-device{
        background-size: 70%;
    }
    @include phone {
        background-size: 60%;
    }
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style:none;
    background-color: $color-1-group-1;
    font-size: 16px;
    @include xm-device{
        font-size: 12px;
    }
    @include phone{
        font-size: 14px;
    }
}

a:link {
    color: #131313;
    text-decoration: none;
}

a:visited {
    color: #131313;
    text-decoration: none;
}

a:hover {
    color: #1c1ab9;
}

/*clases*/
/*header index*/

.header-index {
    grid-area: header-index;
    background-color:$color-1-group-1;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 80%;
        width: auto;
        animation-duration: 3s;
        animation-name: rebote;
        animation-iteration-count: 1;
        @keyframes rebote {
            0% {
                transform: translateY(-100px);
                animation-timing-function: ease-in;
                opacity: 1;
            }
            24% {
                opacity: 1;
            }
            40% {
                transform: translateY(-24px);
                animation-timing-function: ease-in;
            }
            65% {
                transform: translateY(-12px);
                animation-timing-function: ease-in;
            }
            82% {
                transform: translateY(-6px);
                animation-timing-function: ease-in;
            }
            93% {
                transform: translateY(-4px);
                animation-timing-function: ease-in;
            }
            25%,
            55%,
            75%,
            87% {
                transform: translateY(0px);
                animation-timing-function: ease-out;
            }
            100% {
                transform: translateY(0px);
                animation-timing-function: ease-out;
                opacity: 1;
            }
        }
        @include xm-device{
            height: 65%;
            width: auto;
        }
        @include phone {
            height: 70%;
            width: auto;
        }
    }
}

/*header cakes, cupcakes, macarons, contacto*/

.encabezado {
    grid-area: encabezado;
    @extend .header-index;
    img {
        height: 70%;
        width: auto;
        animation: none;
        @include xm-device{
            height: 65%;
            width: auto;
        }
        @include phone {
            height: 70%;
            width: auto;
        }
    }
}

/*barra de navegación*/

.navbar {
    padding: 0;
}

.dropdown-menu {
    padding: 0;
}

.btn-outline-success {
    color: #7b7aab;
    border-style: solid;
    border-width: 1px;
    border-color: $color-1-group-3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7b7aab;
    --bs-btn-hover-border-color: $color-2-group-3;
    --bs-btn-active-border-color: $color-2-group-3;
}

/*carrusel fotos*/

.carousel{
    grid-area: carousel;
    height: 500px;
    &-item{
        height: 500px;
        img{
            height: 100%;
        }
    }
}

/*titulo y parrafo*/

.delicias {
    grid-area: delicias;
    text-align: justify;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: $color-2-group-2;
    @include xm-device{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    @include phone {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }
    &__titulo {
        font-size: 32px;
        font-weight: 600;
        @include xm-device{
            font-size: 24px;
        }
        @include phone {
            font-size: 28px;
        }
    }
    &__descripcion {
        font-size: 20px;
        width: 100%;
        margin-top: 10px;
        @include xm-device{
            font-size: 16px;
        }
        @include phone {
            font-size: 18px;
        }
    }
}

/*galeria index*/

.galeria-index {
    grid-area: galeria-index;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/4), 1fr));
    gap: 2vw;
    @include xm-device{
        margin-top: 20px;
        margin-bottom: 20px;
        grid-template-columns: 1fr;
        gap: 0;
    }
    @include phone{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .vertical{
        grid-column: 1/2;
        grid-row: 1;
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        justify-content: center;
        align-items: center;
        @include xm-device{
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
    .horizontal{
        grid-column: 3/5;
        grid-row: 1;
        @include xm-device{
            grid-column: 1/2;
            width: 100%;
            height: 80%;
            align-content: center;
        }
        .box{
            width: 100%;
            height: auto;
            text-align: center;
            overflow: hidden;
            position: relative;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: auto;
                object-fit:scale-down;
            }
            &:hover .hover{
                width: 100%;
            }
            .hover{
                width: 0%;
                height: 100%;
                background-color: $color-2-group-1;
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: .4s all;
                h3{
                    color: $color-3-group-2;
                    text-shadow: 1px 1px 1px black;
                    font-size: 30px;
                }
            }
        }
    }
}
/*galeria cakes y cupcakes*/

.galeria {
    grid-area: galeria;
    display: grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/5), 1fr));
    gap: 2vw;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    @include xm-device{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @include phone{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    &__texto{
        text-align: center;
        align-items: center;
        justify-content: center;
        border: solid;
        border-style:dashed;
        border-width: 2px;
        border-radius: 10%;
        border-color:$color-3-group-3;
        .precio{
            font-size: 24px;
            font-weight: 600;
            align-items: center;
            @include xm-device{
                font-size: 18px;
            }
            @include phone{
                font-size: 20px;
            }
        }
        p{
            font-size: 20px;
            font-weight: 400;
            align-items: center;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            @include xm-device{
                font-size: 16px;
            }
            @include phone{
                font-size: 18px;
            }
        }
    }
    &__fotos img {
        width: 100%;
        height: auto;
        align-self: center;
        &:hover {
            opacity: 75%;
        }
    }
}

/*galeria macarons*/

.galeria-macarons {
    grid-area: galeria;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/5), 1fr));
    gap: 2vw;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    @include xm-device{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @include phone{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    &__fotos{
        .precio{
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            border: solid;
            border-style:dashed;
            border-width: 2px;
            border-radius: 5%;
            border-color:$color-3-group-3;
        }
        img {
            width: 100%;
            height:auto;
            align-self: center;
            &:hover {
                opacity: 75%;
                    }
            }
    }
}

/*contactanos*/

.contenido {
    grid-area: contenido;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    .iconos{
        grid-column: 3;
        grid-row: 1;
        ul{
            height: 100%;
            background-color: $color-1-group-1;
            padding: 30px;
            border-style: solid;
            border-width: 1px;
            border-color: $color-1-group-3;
            h5{
                font-size: 20px;
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
            }
            li{
                display: flex;
                margin-bottom: 30px;
                list-style: none;
                img{
                    height: 36px;
                    width: auto;
                }
                .iconos-texto{
                    font-size: 16px;
                    margin-left: 20px;
                    text-align: left;
                    text-justify: center;
                }
            }
        }
    }
}

/*mapa*/

.mapa{
    grid-column: 1/3;
    grid-row: 1;
    iframe{
        width: 100%;
        height: 100%;
    }
}

/*formulario*/

.form{
    grid-column: 3/4;
    grid-row: 2;
    height: 100%;
    width: 100%;
    .formulario {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color:$color-1-group-1;
        border-style: solid;
        border-width: 1px;
        border-color: $color-1-group-3;
        color:  $color-2-group-2;
        font-size: 16px;
        text-align: left;
        box-sizing: border-box;
        h5{
            font-size: 20px;
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
        }
        &__input {
            height: 30px;
            width: 100%;
            padding-left: 5px;
            padding-right: 0px;
            background-color: $color-4-group-1;
            border-style: solid;
            border-width: 1px;
        }
        &__text {
            height: 200px;
            width: 100%;
            padding-left: 5px;
            background-color:$color-4-group-1;
            border-style: solid;
            border-width: 1px;
        }
        .button {
            height: 30px;
            width: 40%;
            border: solid;
            border-width: 1px;
            border-color: $color-1-group-3;
            font-size: 14px;
            color:  $color-2-group-2;
            justify-content: center;
        }
    }
}

/*video*/

.video{
    grid-column: 1/3;
    grid-row: 2;
    align-self: center;
    height: 100%;
    width: 100%;
    iframe{
        object-fit: scale-down;
    }
}

/*grid index*/

#grid-index {
    display: grid;
    height: 100vh;
    padding: 0;
    grid-template-areas:
        " header-index header-index header-index header-index" 
        " nav nav nav nav"
        " carousel carousel carousel carousel "
        " delicias delicias delicias delicias "
        " galeria-index galeria-index galeria-index galeria-index"
        " footer footer footer footer ";
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 30% auto auto 1fr auto 5%;
    @include phone{
        grid-template-areas:
            " header-index header-index header-index" 
            " nav nav nav "
            " carousel carousel carousel "
            " delicias delicias delicias "
            " galeria-index galeria-index galeria-index"
            " footer footer footer ";
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 30% auto auto 1fr auto 5%
        }
}




/*grid paginas*/

#grid-paginas {
    display: grid;
    height: 100vh;
    padding: 0;
    grid-template-areas:
        " encabezado encabezado encabezado encabezado " /*1fr*/
        " nav nav nav nav " /*1fr*/
        " delicias delicias delicias delicias "
        " galeria galeria galeria galeria "
        " footer footer footer footer ";
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 25% auto 2fr auto 5%
}

/*grid contacto*/

#grid-contacto {
    display: grid;
    height: 100vh;
    padding: 0;
    grid-template-areas:
        " encabezado encabezado encabezado "
        " nav nav nav "
        " delicias delicias delicias "
        " contenido contenido contenido "
        " footer footer footer ";
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 25% auto 2fr auto auto 5%;
    box-sizing: border-box;
}

/*estilo responsive max 768*/

@media screen and (max-width:768px) {

.galeria-macarons {
    grid-area: galeria;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/5), 1fr));

}

/*#grid-index {
    display: grid;
    grid-template-areas:
        " header-index header-index header-index " 
        " nav nav nav "
        " carousel carousel carousel "
        " delicias delicias delicias "
        " galeria-index galeria-index galeria-index "
        " footer footer footer ";
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 15% auto 1fr auto 5%
}*/
#grid-paginas {
    display: grid;
    grid-template-areas:
        " encabezado encabezado encabezado encabezado " /*1fr*/
        " nav nav nav nav " /*1fr*/
        " delicias delicias delicias delicias "
        " galeria galeria galeria galeria "
        " footer footer footer footer ";
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 10% auto 2fr auto 5%
}
}

/*estilo responsive*/

@media screen and (max-width:480px) {

    .galeria-macarons {
        grid-area: galeria;
        display: grid;
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(max(250px, 100%/5), 1fr));
    }


    #grid-paginas {
        display: grid;
        grid-template-areas:
            " encabezado encabezado encabezado encabezado " /*1fr*/
            " nav nav nav nav " /*1fr*/
            " delicias delicias delicias delicias "
            " galeria galeria galeria galeria "
            " footer footer footer footer ";
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: 10% auto 2fr auto 5%
    }
    }